.git
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
build/
dist/
.artifacts/        # if you have a different local cache folder
artifacts/         # don't bake previous run results into the image
Dockerfile
docker/
